<h3>Employees</h3>

@using EmployeeListApp.Data
@using EmployeeListApp.Services
@page "/employees"
@inject EmployeesService EmployeesService

<h3>Employees List</h3>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@Add" class="btn btn-success">Add</button>

    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td>@employee.Department</td>
                    <td>@employee.Salary</td>
                    <td>
                        <button @onclick="() => Delete(employee.Id)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (employees != null && mode == MODE.Add)
{
    <input placeholder="Full Name" @bind="@fullName" />
    <br />
    <input placeholder="Department" @bind="@department" />
    <br />
    <input placeholder="Salary" @bind="@salary" />
    <br />
    <button @onclick="@Insert" class="btn btn-warning">Insert</button>
}

@code {
    private List<Employee> employees;

    private string id;
    private string fullName;
    private string department;
    private decimal salary;

    private enum MODE { None, Add, EditDelete };
    private MODE mode = MODE.None;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeesService.GetAllEmployeesAsync();
    }

    protected async Task Load()
    {
        employees = await EmployeesService.GetAllEmployeesAsync();
    }

    protected void Add()
    {
        ClearFields();
        mode = MODE.Add;
    }

    protected void ClearFields()
    {
        id = string.Empty;
        fullName = string.Empty;
        department = string.Empty;
        salary = 0;
    }

    protected async Task Insert()
    {
        Employee employee = new Employee()
            {
                Id = Guid.NewGuid().ToString(),
                FullName = fullName,
                Department = department,
                Salary = salary
            };

        await EmployeesService.AddEmployeeAsync(employee);
        ClearFields();
        await Load();
        mode = MODE.None;
    }

    protected async Task Delete(string employeeId)
    {
        await EmployeesService.DeleteEmployeeAsync(employeeId);
        await Load();
    }
}
