@page "/employees"
@inject EmployeeService employeeService

<h3>Prikaz Svih Zaposlenika</h3>

<h1>My Employee List</h1>
<p>This component demonstrates managing an employee list.</p>

<button @onclick="Add" class="btn btn-success">Add</button>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FullName</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employees)
            {
                <tr @onclick="@(() => Show(item.Id))">
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Department</td>
                    <td>@item.Salary</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (employees != null && mode == MODE.Add)
{
    <input placeholder="Id" @bind="@id" type="number" />
    <br />
    <input placeholder="FullName" @bind="@fullname" />
    <br />
    <input placeholder="Department" @bind="@department" />
    <br />
    <input placeholder="Salary" @bind="@salary" type="number" />
    <br />
    <button @onclick="@Insert" class="btn btn-warning">Insert</button>
}

@if (employees != null && mode == MODE.EditDelete)
{
    <input type="hidden" @bind="@id" />
    <br />
    <input placeholder="Full Name" @bind="@fullname" />
    <br />
    <input placeholder="Department" @bind="@department" />
    <br />
    <input placeholder="Salary" @bind="@salary" type="number" />
    <br />
    <button @onclick="@Update" class="btn btn-primary">Update</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button @onclick="@Delete" class="btn btn-danger">Delete</button>
}

@code {
    string id;
    string fullname;
    string department;
    decimal salary;

    private enum MODE { None, Add, EditDelete };
    MODE mode = MODE.None;

    List<Employee> employees;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    protected async Task Load()
    {
        employees = await employeeService.GetEmployeeAsync();
    }

    protected void Add()
    {
        ClearFields();
        mode = MODE.Add;
    }

    protected async Task Show(string id)
    {
        var employee = await employeeService.GetEmployeeByIdAsync(id);
        this.id = employee.Id;
        fullname = employee.FullName;
        department = employee.Department;
        salary = employee.Salary;
        mode = MODE.EditDelete;
    }

    protected async Task Insert()
    {
        Employee newEmployee = new Employee()
            {
                Id = Guid.NewGuid().ToString(),
                FullName = fullname,
                Department = department,
                Salary = salary
            };
        await employeeService.InsertEmployeeAsync(newEmployee);
        ClearFields();
        await Load();
        mode = MODE.None;
    }

    protected async Task Update()
    {
        Employee updatedEmployee = new Employee()
            {
                Id = id,
                FullName = fullname,
                Department = department,
                Salary = salary
            };
        await employeeService.UpdateEmployeeAsync(id, updatedEmployee);
        ClearFields();
        await Load();
        mode = MODE.None;
    }

    protected async Task Delete()
    {
        await employeeService.DeleteEmployeeAsync(id);
        ClearFields();
        await Load();
        mode = MODE.None;
    }

    protected void ClearFields()
    {
        id = string.Empty;
        fullname = string.Empty;
        department = string.Empty;
        salary = 0;
    }
}
